:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #8cd406;
  background-color: #242424;
  text-align:center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #242424;
  text-decoration: none;
}
a:hover {
  color: #505164;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


